


main{
    max-width: 1100px;
    margin:auto
}

.grid-container-1{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(3, minmax(300px, 1fr));
    grid-gap:10px;

}

.grid-container-2{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(1, minmax(300px, 1fr));
    grid-gap: 10px;
}

.grid-item{
    background-color: lightgray;

}

.grid-item{
    padding-left: 10px;
}

.grid-item-1{
    grid-column: 1/4;
}


.tab{
    margin-left: 30px;
}


.grid-container-4{
    grid-template-areas:    
        "header header header"
        "aside main main"
        "aside main main"
        "footer footer footer"
    ;
}

.grid-item-header{
    grid-area: header;
}

.grid-item-aside{
    grid-area: aside;
}
.grid-item-main{
    grid-area: main;
}
.grid-item-footer{
    grid-area: footer;
}